body,
html {
  font-family: Lato, sans-serif !important;
  background-color: #fafafa;
  color: #616161;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased; }

/**
  Custom styles
*/
.c-custom-icon {
  background: #eee;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 36px;
  width: 36px;
  margin-right: 10px !important;
  margin-left: -6px; }

/**
  Bootstrap modification
*/
.navbar-nav {
  flex-direction: row !important; }

.navbar-inner {
  margin: auto; }

.nav-item {
  padding: 0.5rem 8px;
  font-size: 14px; }

.nav-item:last-child {
  padding-right: 0; }

.dropdown-item {
  font-size: 14px;
  font-weight: 400;
  display: flex;
  align-items: center;
  background: transparent;
  color: rgba(0, 0, 0, 0.87);
  line-height: 48px;
  height: 48px; }

.c-top-actions .c-menu-button__icon {
  display: none; }

.c-button__icon {
  width: 24px; }

.c-menu-button {
  box-sizing: border-box;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 0;
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px;
  border-radius: 4px;
  overflow: visible;
  border-radius: 42px;
  transition: all 0.3s ease-in-out;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: #616161;
  font-size: 14px;
  transition: opacity 200ms cubic-bezier(0.35, 0, 0.25, 1), background-color 200ms cubic-bezier(0.35, 0, 0.25, 1); }

.c-menu-button:hover {
  text-decoration: none;
  color: #616161;
  background: #eeeeee; }

.c-menu-button__icon {
  width: 36px !important;
  height: 36px !important;
  background-color: #eee;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
  margin-left: -16px; }

.c-top-actions {
  padding: 24px 0 0 0; }
  .c-top-actions .nav button {
    width: 45%; }

.btn {
  font-size: 14px; }

.btn-outline-secondary {
  color: #616161;
  border-color: rgba(0, 0, 0, 0.12);
  outline: none;
  box-shadow: none; }

.btn-outline-secondary:hover {
  text-decoration: none;
  color: #616161;
  background: #eeeeee; }

.u-active.btn {
  color: #537e37; }

.btn .c-button__icon svg {
  fill: #616161; }

.active.btn .c-button__icon svg {
  fill: #537e37; }

.u-width-100 {
  width: 100%; }

.btn-outline-primary {
  color: #537e37;
  border-color: #537e37; }

.btn-outline-primary:hover {
  color: #fff;
  background-color: #537e37;
  border-color: #537e37; }

.nav {
  padding-left: 15px; }

.nav-link {
  transition: all 0.3s ease-in-out; }
  .nav-link:hover {
    background-color: #eeeeee;
    border-radius: 4px; }

@media (min-width: 990px) {
  .c-top-actions .c-menu-button__icon {
    display: flex; }
  .c-top-actions {
    padding: 24px 0 0 0; }
    .c-top-actions .nav button {
      width: 25%; } }

.list-group-item {
  display: flex;
  align-items: center;
  color: #000000de; }

.list-group-item__icon {
  background: #eee;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 36px;
  width: 36px;
  margin-right: 16px !important;
  font-style: normal; }
  .list-group-item__icon img {
    width: 22px !important; }

.list-group-item {
  padding: 12px 0; }
  .list-group-item:hover {
    background-color: transparent; }
  .list-group-item .is-checked-item {
    display: none; }
  .list-group-item .is-unchecked-item {
    display: block; }
  .list-group-item.is-active .is-checked-item {
    display: block; }
  .list-group-item.is-active .is-unchecked-item {
    display: none; }

.modal-title {
  font-size: 18px;
  color: #000; }

.modal-header {
  align-items: center; }

.modal-header .close {
  padding: 0;
  margin: 0; }

.modal-content {
  border-radius: 4px; }

.btn-primary {
  color: #fff;
  background-color: #537e37;
  border-color: #537e37; }
  .btn-primary:active, .btn-primary:focus, .btn-primary:hover {
    background-color: #537e37 !important;
    border-color: #537e37 !important; }

.btn-outline-secondary:not(:disabled):not(.disabled).active,
.btn-outline-secondary:not(:disabled):not(.disabled):active,
.show > .btn-outline-secondary.dropdown-toggle {
  color: #537e37;
  background-color: #fafafa;
  border-color: #537e37; }

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 376px; } }

@media (max-width: 575px) {
  .modal-dialog {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0; }
  .modal-content {
    height: auto;
    min-height: 100%;
    border-radius: 0; } }

.modal-content {
  background-color: #fafafa; }

.modal-header,
.modal-footer {
  background-color: #eee; }

a {
  color: #616161;
  text-decoration: none; }
  a:hover {
    color: #616161;
    text-decoration: none; }

/**
* Map
*/
.c-map {
  width: 100%;
  height: 800px;
  position: relative;
  width: 100%;
  height: 800px;
  position: relative;
  display: flex;
  justify-content: center; }

.c-park-pin {
  width: 56px;
  height: 56px;
  background-color: #fff;
  position: absolute;
  top: 200px;
  left: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50% 50% 50% 0;
  transition: box-shadow 300ms ease-in-out, transform 300ms ease-in-out;
  transform: translateY(0) rotate(-45deg);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.18);
  z-index: 10; }
  .c-park-pin__image {
    width: 48px;
    height: 48px;
    transform: rotate(45deg); }
  .c-park-pin:hover {
    box-shadow: 0 2px 3px -1px rgba(128, 103, 103, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
    transform: translateY(-2px) rotate(-45deg); }

.c-park-item {
  padding: 0 12px 0 0 !important;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  position: relative;
  padding: 16px;
  border-radius: 4px;
  display: flex;
  transition: box-shadow 300ms ease-in-out, transform 300ms ease-in-out; }
  .c-park-item__image {
    width: 72px;
    align-items: flex-start;
    justify-content: center;
    display: flex;
    padding-top: 32px; }
    .c-park-item__image img {
      width: 48px; }
  .c-park-item__title {
    font-size: 16px;
    font-weight: 600;
    display: inline-flex;
    height: 56px;
    justify-content: flex-start;
    align-items: center; }
  .c-park-item__attractions {
    display: inline-flex;
    align-items: center;
    height: 52px; }
  .c-park-item__separator {
    display: inline-flex;
    align-items: center;
    height: 2px; }
  .c-park-item__actions {
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    height: 52px; }
  .c-park-item__attraction {
    background-color: #eee;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    margin-right: 16px; }
    .c-park-item__attraction img {
      width: 18px !important; }
  .c-park-item:hover {
    box-shadow: 0 2px 3px -1px rgba(128, 103, 103, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
    transform: translateY(-2px); }

.c-map img {
  vertical-align: middle;
  border-style: none;
  max-width: 100%;
  font-style: italic;
  vertical-align: middle;
  width: 1140px; }

.c-app-header {
  align-items: center;
  justify-content: space-between;
  color: #616161;
  background-color: #fff !important;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25); }
  .c-app-header .nav-link {
    color: #424242; }
    .c-app-header .nav-link.active {
      color: #537e37; }
  .c-app-header__basket {
    position: relative; }
    .c-app-header__basket-total {
      position: absolute;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background-color: red;
      color: #fafafa;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 4px;
      font-size: 12px;
      right: -8px;
      top: -8px;
      box-shadow: 0px 0px 3px #757575; }

.c-app-menu {
  display: none; }

.c-app-header__logo-mobile {
  display: block; }

.c-app-header__logo-desktop--t-default {
  display: none; }

.c-app-header__logo-desktop--t-contrast {
  display: none; }

.c-mobile-section-title {
  height: 48px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  padding-right: 0; }
  .c-mobile-section-title__heading {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-weight: bold; }

@media (min-width: 990px) {
  .c-app-header .c-app-menu {
    display: flex; }
    .c-app-header .c-app-menu .nav-item {
      font-size: 16px;
      padding: 0.5rem 0;
      margin-right: 8px; }
  .c-mobile-section-title {
    display: none; }
  .c-app-header__logo-desktop--t-default {
    display: block !important; }
  .c-app-header__logo-desktop--t-contrast {
    display: none; }
  .c-app-header__logo-mobile {
    display: none !important; }
  .c-app-header-container__border-bottom {
    margin-right: 15px !important;
    margin-left: 15px !important; } }

.c-app-header .nav-link__icon,
.c-app-header .nav-link__caption {
  color: #616161; }

.c-app-header .nav-link__caption {
  display: none !important; }

.c-app-header .nav-link__icon {
  margin-right: 0; }

.c-app-header .nav-link__caption {
  display: none !important; }

.c-app-header .navbar-nav {
  flex-direction: row !important; }

.dropdown-item {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem; }

.dropdown-toggle::after {
  margin-left: 8px; }

.c-app-header-container__border-bottom {
  width: 100%;
  height: 8px;
  background: linear-gradient(to right, #94ac3b 33%, black 33%, black 66%, #8abfe3 66%);
  margin-right: 0;
  margin-left: 0; }

.c-app-header__border-bottom {
  width: 100%;
  height: 8px;
  margin-top: -8px;
  background: #d1d1d1; }

.c-mobile-buy-ticket {
  display: block; }

@media (min-width: 990px) {
  .c-app-header .nav-link__caption {
    display: inline-block !important; }
  .nav-item {
    padding: 0.5rem 18px;
    font-size: 14px; }
  .c-app-header .nav-link__icon {
    margin-right: 12px !important; }
  .c-mobile-buy-ticket {
    display: none; } }

.modal-open .modal {
  animation: slideleft; }

@keyframes slideleft {
  0% {
    transform: translateX(-100%); }
  0% {
    transform: translateX(0); } }

.modal.left.fade .modal-dialog {
  left: -320px;
  transition: opacity 0.3s linear, left 0.3s ease-out; }

.modal.left.fade.show .modal-dialog {
  left: 0;
  width: 90%; }

.c-app-footer {
  font-size: 12px; }
  .c-app-footer__border-top {
    width: 100%;
    height: 8px;
    margin-bottom: -8px;
    background: #d1d1d1; }
  .c-app-footer-container__border-top {
    width: 100%;
    height: 8px;
    background: linear-gradient(to right, #94ac3b 33%, black 33%, black 66%, #8abfe3 66%);
    margin-right: 0;
    margin-left: 0; }
  .c-app-footer__icon {
    width: 42px;
    height: 42px;
    background-color: #eee;
    border-radius: 50%;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center; }

/*!
 * Start Bootstrap - Simple Sidebar (https://startbootstrap.com/template/simple-sidebar)
 * Copyright 2013-2020 Start Bootstrap
 * Licensed under MIT (https://github.com/StartBootstrap/startbootstrap-simple-sidebar/blob/master/LICENSE)
 */
#wrapper {
  overflow-x: hidden; }

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out; }

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem; }

#sidebar-wrapper .list-group {
  width: 15rem; }

#page-content-wrapper {
  min-width: 100vw; }

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0; }

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0; }
  #page-content-wrapper {
    min-width: 0;
    width: 100%; }
  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem; } }

.c-top-actions {
  display: none; }
  .c-top-actions__filters-container {
    height: 42px;
    overflow: hidden;
    transition: height 250ms ease-in;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .c-top-actions__filters-container.more {
      height: 104px;
      overflow: hidden; }
    .c-top-actions__filters-container .c-filter-button {
      box-sizing: border-box;
      position: relative;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      cursor: pointer;
      outline: none;
      border: none;
      -webkit-tap-highlight-color: transparent;
      display: inline-block;
      white-space: nowrap;
      text-decoration: none;
      vertical-align: baseline;
      text-align: center;
      margin: 0;
      min-width: 64px;
      line-height: 36px;
      border-radius: 4px;
      overflow: visible;
      border-radius: 42px;
      transition: all 0.3s ease-in-out;
      display: inline-flex;
      flex-direction: row;
      align-items: center;
      text-decoration: none;
      color: #616161;
      font-size: 14px;
      transition: opacity 200ms cubic-bezier(0.35, 0, 0.25, 1), background-color 200ms cubic-bezier(0.35, 0, 0.25, 1);
      position: relative; }
      .c-top-actions__filters-container .c-filter-button img {
        width: 24px;
        height: 24px; }
      .c-top-actions__filters-container .c-filter-button input[type=checkbox] {
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0; }
        .c-top-actions__filters-container .c-filter-button input[type=checkbox]:checked + label {
          color: #538249;
          border: solid 1px #538249;
          background-color: #f5f5f5; }
          .c-top-actions__filters-container .c-filter-button input[type=checkbox]:checked + label > svg {
            fill: red; }
      .c-top-actions__filters-container .c-filter-button label {
        margin: 0;
        display: flex;
        align-content: center;
        border-radius: 42px;
        padding: 0 16px;
        border: solid 1px #c4c4c4;
        cursor: pointer; }
      .c-top-actions__filters-container .c-filter-button:hover {
        text-decoration: none;
        color: #616161;
        background: #eeeeee; }
      .c-top-actions__filters-container .c-filter-button__icon {
        width: 36px !important;
        height: 36px !important;
        border-radius: 50%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin-right: 8px;
        margin-left: -4px; }
  .c-top-actions__more-less-trigger {
    border-color: #c4c4c4;
    color: #424242;
    background-color: #f5f5f5;
    min-width: 100px; }
    .c-top-actions__more-less-trigger:active, .c-top-actions__more-less-trigger:focus, .c-top-actions__more-less-trigger:hover {
      color: #616161;
      background-color: #eeeeee;
      border-color: #c4c4c4;
      box-shadow: none; }
    .c-top-actions__more-less-trigger .c-top-actions__less {
      display: none; }
    .c-top-actions__more-less-trigger.more .c-top-actions__more {
      display: none; }
    .c-top-actions__more-less-trigger.more .c-top-actions__less {
      display: block; }

@media (min-width: 990px) {
  .c-top-actions {
    display: flex;
    padding: 24px 0 0 0; } }

.is-hidden {
  display: none !important; }

.c-ticket-item {
  border-radius: 4px;
  position: relative;
  display: flex;
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  color: rgba(0, 0, 0, 0.87);
  background-color: #fff; }
  .c-ticket-item__image-container {
    width: 72px;
    align-items: flex-start;
    justify-content: center;
    display: flex;
    padding-top: 32px; }
  .c-ticket-item__image {
    width: 42px;
    height: 42px;
    background-color: #eee;
    border-radius: 50%;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center; }
  .c-ticket-item__title {
    font-size: 16px;
    font-weight: 700;
    display: inline-flex;
    height: 56px;
    justify-content: flex-start;
    align-items: center; }
  .c-ticket-item__subtitle_1 {
    font-size: 12px;
    font-weight: 700; }
  .c-ticket-item__subtitle_2 {
    font-size: 12px;
    font-weight: normal;
    font-style: italic; }
  .c-ticket-item__price {
    font-size: 14px;
    font-weight: bold; }
  .c-ticket-item__separator {
    display: inline-flex;
    align-items: center;
    border-bottom: 1px solid #eee; }
  .c-ticket-item__actions {
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 0.5rem !important;
    padding-top: 0.5rem !important; }
  .c-ticket-item:hover {
    box-shadow: 0 2px 3px -1px rgba(128, 103, 103, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
    transform: translateY(-2px); }

.c-about-park .c-section-header {
  font-size: 18px;
  font-weight: bold;
  color: #424242; }

.c-about-park__attractions-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.c-about-park__attractions-item {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
  padding: 16px;
  margin-right: 24px; }

.c-about-park__attractions-image {
  width: 80px;
  height: 80px;
  padding: 8px;
  background-color: #eee;
  border-radius: 50%;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px; }
  .c-about-park__attractions-image [class^="icon-"], .c-about-park__attractions-image [class*=" icon-"] {
    font-size: 32px; }
  .c-about-park__attractions-image img {
    width: 42px; }

.c-about-park__attractions-caption {
  font-size: 14px;
  width: 80px;
  text-align: center; }

.c-about-park__practical-information-list {
  padding-inline-start: 16px; }

.c-about-park__future-events-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin-top: 0;
  margin-bottom: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0; }

.c-about-park__future-events-item {
  display: flex;
  flex-direction: row;
  margin-bottom: 24px; }

.c-about-park__future-events-date {
  width: 80px;
  height: 80px;
  background-color: #eee;
  border-radius: 50%;
  font-weight: bold;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 24px; }

.c-about-park__future-events-name h1,
.c-about-park__future-events-name h2,
.c-about-park__future-events-name h3,
.c-about-park__future-events-name h4 {
  font-size: 18px;
  font-weight: bold; }

.c-about-park__future-events-details {
  width: calc(100% - 80px - 48px); }

.c-about-park__future-events-description {
  font-size: 16px; }

.carousel-caption {
  position: absolute;
  bottom: 20px;
  left: 0;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  width: 100%; }

.info {
  text-align: left;
  max-width: 1140px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

.carousel-item:after {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 72%, black 100%);
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 72%, black 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 72%, black 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
  position: absolute;
  content: "";
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1; }

@media (min-width: 990px) {
  .carousel {
    height: 550px; }
  .carousel-item {
    height: 550px; }
    .carousel-item img {
      transform: translate(0, -200px); } }

.c-contact-form__form label {
  font-size: 12px; }

.c-contact-form__help {
  display: none; }

.c-contact-form .c-section-header {
  font-size: 18px;
  font-weight: bold;
  color: #424242; }

@media (min-width: 990px) {
  .c-contact-form__help {
    display: block; } }

.c-basket-summary {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 12px 0;
  background-color: #538249;
  color: #fafafa;
  z-index: 100;
  font-weight: bold;
  box-shadow: 0 -5px 5px -5px #333; }
  .c-basket-summary--desktop {
    display: none; }
  .c-basket-summary--mobile {
    display: block; }
  .c-basket-summary__total {
    text-align: right; }

@media (min-width: 990px) {
  .c-basket-summary--desktop {
    display: block; }
  .c-basket-summary--mobile {
    display: none; } }

.c-profile {
  margin-top: -1rem; }
  .c-profile-nav {
    margin: 0 -1rem;
    padding: 0; }
    .c-profile-nav__item {
      padding: 0;
      border-radius: 0;
      width: 50%;
      text-align: center; }
    .c-profile-nav__link {
      color: #424242 !important;
      border-radius: 0 !important;
      padding: 1rem 2rem !important;
      border-bottom: solid 1px #ccc; }
      .c-profile-nav__link.active {
        color: #538249 !important;
        background-color: transparent !important;
        border-bottom: solid 1px #538249; }
  .c-profile__form label {
    font-size: 12px; }
  .c-profile .btn-outline-secondary {
    border: 1px solid #ced4da; }
  .c-profile__help {
    display: none; }
  .c-profile__login-facebook, .c-profile__login-google {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 36px; }
    .c-profile__login-facebook img, .c-profile__login-google img {
      height: 16px; }
  .c-profile__login-google img {
    height: 22px; }
  .c-profile .c-section-header {
    font-size: 16px;
    color: #424242; }
  .c-profile-history__item {
    margin-bottom: 24px; }
    .c-profile-history__item-details {
      font-size: 16px;
      font-weight: bold; }
    .c-profile-history__item .is-finished,
    .c-profile-history__item .is-not-finished {
      font-weight: bold; }
    .c-profile-history__item .is-not-finished {
      color: #e91616; }
    .c-profile-history__item .is-finished {
      color: #538249; }
  .c-profile-history__tickets-total {
    border-top: solid 1px #ccc;
    border-bottom: solid 1px #ccc; }
  .c-profile-history__tickets-actions {
    display: flex;
    justify-content: center; }
    .c-profile-history__tickets-actions a {
      margin: 0 1rem;
      border-radius: 50%;
      border: solid 1px #c4c4c4;
      padding: 8px;
      transition: background-color 200ms cubic-bezier(0.35, 0, 0.25, 1);
      color: #616161; }
      .c-profile-history__tickets-actions a:hover {
        text-decoration: none;
        color: #616161;
        background-color: #eeeeee; }
      .c-profile-history__tickets-actions a img {
        width: 28px;
        height: 28px; }
  .c-profile-history__ticket-name {
    font-size: 14px;
    font-weight: bold; }
  .c-profile-history__ticket-details {
    font-size: 14px; }
  .c-profile-history__ticket-total {
    font-size: 14px; }

.c-basket__total {
  font-weight: bold;
  font-size: 20px;
  padding: 16px 0; }

.c-basket__tickets-header {
  display: none;
  border-bottom: solid 1px #424242;
  padding: 12px 0; }

.c-basket__tickets-list {
  border-bottom: solid 1px #424242; }
  .c-basket__tickets-list div:last-child {
    border: none; }

.c-basket__tickets-park-name {
  display: flex;
  align-items: center; }
  .c-basket__tickets-park-name-caption {
    margin-right: 24px;
    font-style: italic; }
  .c-basket__tickets-park-name-decoration {
    flex-shrink: 1;
    flex-grow: 1;
    align-items: center;
    height: 2px;
    border-bottom: solid 1px #c4c4c4; }

.c-basket__tickets-item {
  padding: 24px 0;
  border-bottom: solid 1px #c4c4c4; }
  .c-basket__tickets-item-additional {
    font-size: 14px; }
  .c-basket__tickets-item-on-desktop {
    display: none !important; }
  .c-basket__tickets-item-on-mobile {
    display: none !important; }

.modal--full .modal-dialog {
  max-width: 1140px;
  max-height: 100%;
  height: calc(100% - 24px);
  width: calc(100% - 24px);
  margin: 12px auto; }

.modal--full .modal-content {
  height: 100%; }

.modal--full .modal-body {
  overflow: auto; }

.u-on-mobile {
  display: none; }

@media (min-width: 990px) {
  .c-basket__tickets-header {
    display: block; } }

@media (max-width: 767px) {
  .c-basket__tickets-item-on-mobile {
    display: flex !important; }
  .u-on-mobile {
    display: block; }
  .u-on-desktop {
    display: none; } }

@media (min-width: 768px) {
  .c-basket__tickets-item-on-desktop {
    display: block !important; } }

.form-check {
  display: flex;
  align-items: center; }

.form-check-input {
  margin-top: 0; }

.t-contrast * {
  background-color: #000 !important;
  color: #ffff00 !important; }

.t-contrast .c-app-header .nav-link.active {
  border: solid 1px #fff;
  border-radius: 50px;
  color: #fff !important; }

.t-contrast .c-app-header__basket-total {
  border: solid 1px #ffff00; }

.t-contrast .c-summary-toggle__inside {
  background-color: #ffff00 !important; }

.t-contrast .c-ticket-item {
  border: solid 1px #ffff00 !important;
  border-radius: 4px; }
  .t-contrast .c-ticket-item * {
    background-color: transparent !important; }
  .t-contrast .c-ticket-item__image {
    background-color: #ffff00 !important;
    border: solid 1px #ffff00; }
  .t-contrast .c-ticket-item__actions .btn {
    border: solid 1px #fff !important;
    color: #fff !important; }

.t-contrast .btn.btn-outline-secondary {
  border: solid 1px #fff; }
  .t-contrast .btn.btn-outline-secondary img {
    background-color: #ffff00 !important;
    border-radius: 50%;
    border: none; }

.t-contrast .c-app-footer__icon {
  background-color: #ffff00 !important;
  border-radius: 50%; }
  .t-contrast .c-app-footer__icon svg,
  .t-contrast .c-app-footer__icon img {
    background-color: #ffff00 !important; }

.t-contrast .c-profile-history__tickets-actions a,
.t-contrast .c-profile-history__tickets-actions a img {
  background-color: #ffff00 !important; }

.t-contrast .c-top-actions__more-less-trigger img,
.t-contrast .c-filter-button__icon img,
.t-contrast .c-filter-button__icon svg,
.t-contrast .nav-link__icon img,
.t-contrast .nav-link__icon svg {
  background-color: #ffff00 !important;
  border-radius: 50%; }

.t-contrast .c-about-park__attractions-image img,
.t-contrast .c-about-park__attractions-image {
  background-color: #ffff00 !important; }

.t-contrast .c-top-actions__filters-container .c-filter-button input:checked + label {
  color: #fff !important;
  border: solid 1px #fff !important; }

.t-contrast .c-basket-summary--desktop * {
  color: #fff !important; }
  .t-contrast .c-basket-summary--desktop * .btn {
    border: solid 1px #fff !important; }

.t-contrast .c-about-park__future-events-date {
  border: solid 1px #ffff00 !important; }

.t-contrast .c-app-header__logo-desktop--t-default {
  display: none !important; }

.t-contrast .c-app-header__logo-desktop--t-contrast {
  display: none !important; }

.t-contrast .c-app-header__logo-mobile {
  display: block !important; }

@media (min-width: 990px) {
  .t-contrast .c-app-header__logo-desktop--t-default {
    display: none !important; }
  .t-contrast .c-app-header__logo-desktop--t-contrast {
    display: block !important; }
  .t-contrast .c-app-header__logo-mobile {
    display: none !important; } }

.c-buy-ticket h2 {
  font-size: 16px !important;
  font-weight: bold !important;
  color: #424242; }

.c-buy-ticket__tickets {
  list-style-type: none; }

.c-buy-ticket__detail {
  border-radius: 4px;
  position: relative;
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  color: rgba(0, 0, 0, 0.87);
  background-color: #fff;
  padding: 12px 0;
  margin-bottom: 16px; }

.c-buy-ticket__total {
  padding-top: 12px;
  border-top: solid 1px #616161; }

.c-buy-ticket__modal-footer {
  background-color: transparent;
  border-top: 0; }

.c-buy-ticket .is-active {
  border: solid 1px #537e37;
  box-shadow: 0 2px 3px -1px rgba(128, 103, 103, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 1px 8px 0 rgba(0, 0, 0, 0.12); }

.c-buy-ticket__option-routes {
  border: solid 1px #537e37;
  border-radius: 4px;
  padding: 12px;
  height: 100%; }
  .c-buy-ticket__option-routes .list-group-item {
    background-color: transparent; }

.u-on-mobile .c-buy-ticket * {
  font-size: 14px !important; }

.u-on-mobile .c-buy-ticket__detail {
  border-radius: 0;
  position: relative;
  color: rgba(0, 0, 0, 0.87);
  background-color: transparent;
  box-shadow: none;
  padding: 12px 0;
  margin-bottom: 16px;
  border-bottom: solid 1px #DDDDDD; }

.u-on-mobile .is-active {
  border: none;
  box-shadow: none; }

.u-on-mobile .input-group-prepend button,
.u-on-mobile .input-group-append button {
  font-size: 22px;
  padding: 0 12px; }

.modal--full-width .modal-dialog {
  max-width: 1140px;
  max-height: 100%;
  height: calc(100% - 24px);
  width: calc(60% - 24px);
  margin: 12px auto; }

@media (max-width: 767px) {
  .modal-header {
    padding-bottom: 0; }
  .modal-title {
    font-size: 16px; }
  .u-on-desktop {
    display: none; }
  .modal--full-width .modal-dialog,
  .modal--full .modal-dialog {
    margin: 0;
    width: 100%;
    height: 100%; } }

.c-cashier-layout-basket-container {
  padding-right: 0;
  padding-left: 0;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: #fff;
  box-shadow: 0px 0 4px rgba(0, 0, 0, 0.8);
  border-radius: 4px 4px 0 0; }
  .c-cashier-layout-basket-container .c-cashier-layout-basket {
    background-color: #fff;
    box-shadow: none;
    border-radius: 4px 4px 0 0; }

.c-cashier-layout .c-basket-summary {
  display: none; }

.c-cashier-layout-basket {
  background-color: #f5f5f5;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  height: 100%; }
  .c-cashier-layout-basket__items {
    border-bottom: solid 1px #ddd; }
    .c-cashier-layout-basket__items th,
    .c-cashier-layout-basket__items td {
      padding: 8px 0; }
    .c-cashier-layout-basket__items th {
      font-size: 14px;
      border-bottom: solid 1px #ddd; }
    .c-cashier-layout-basket__items td {
      font-size: 12px; }
    .c-cashier-layout-basket__items-header {
      margin-bottom: 8px; }
      .c-cashier-layout-basket__items-header > * {
        font-size: 14px;
        padding-right: 0;
        padding-bottom: 8px; }
    .c-cashier-layout-basket__items-item {
      padding: 8px; }
      .c-cashier-layout-basket__items-item > * {
        font-size: 12px;
        padding-right: 0; }

.c-cashier-layout .c-ticket-item__select {
  width: 114px; }

.c-cashier-layout .c-ticket-item__actions {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 72px; }

.c-cashier-layout .c-ticket-item__select .input-group-prepend .btn,
.c-cashier-layout .c-ticket-item__select .input-group-append .btn {
  font-size: 22px;
  padding: 0 12px; }

.c-cashier-layout .c-cashier-layout__basket-mobile-summary {
  display: none;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 250px;
  background-color: #fff;
  z-index: 100; }

.c-cashier-layout .c-summary-toggle {
  margin-top: -1rem;
  width: 100%; }
  .c-cashier-layout .c-summary-toggle__inside {
    background-color: #c4c4c4;
    height: 4px;
    width: 48px;
    border-radius: 6px; }

@media (min-width: 990px) {
  .c-cashier-layout-basket-container {
    position: relative;
    bottom: auto;
    left: auto;
    width: 100%;
    z-index: 100;
    box-shadow: none; }
    .c-cashier-layout-basket-container .c-cashier-layout-basket {
      background-color: #f5f5f5;
      box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
      height: 100%; } }

/* Park item */
.c-park-item {
  padding: 0 12px 0 0 !important;
  border-radius: 4px;
  position: relative;
  display: flex;
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  color: rgba(0, 0, 0, 0.87);
  background-color: #fff; }

.c-park-item__image {
  width: 72px;
  align-items: flex-start;
  justify-content: center;
  display: flex;
  padding-top: 32px; }

.c-park-item__image img {
  width: 48px; }

.c-park-item__title {
  font-size: 16px;
  font-weight: 700;
  display: inline-flex;
  height: 56px;
  justify-content: flex-start;
  align-items: center; }

.c-park-item__attractions {
  display: inline-flex;
  align-items: center;
  height: 52px; }

.c-park-item__attraction img {
  width: 18px !important; }

.c-park-item__attraction {
  background-color: #eee;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  margin-right: 16px; }

.c-park-item__separator {
  display: inline-flex;
  align-items: center;
  border-bottom: 1px solid #eee; }

.c-park-item__actions {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  height: 52px; }

.c-park-item__footer {
  height: 4px; }

.c-park-item__border-bottom {
  height: 4px;
  width: 100%;
  position: absolute;
  bottom: 0;
  border-radius: 0 0 4px 4px; }

.c-park-item:hover {
  box-shadow: 0 2px 3px -1px rgba(128, 103, 103, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  transform: translateY(-2px); }

[class^="icon-"],
[class*=" icon-"] {
  font-size: 24px;
  vertical-align: middle; }
